* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
}

body.body__home {
    background: linear-gradient(124deg, rgba(0, 0, 66, 1) 0%, rgba(45, 0, 135, 1) 63%, rgba(0, 0, 66, 1) 100%);
}

.max-width {
    max-width: 90%;
    margin: 0 auto;
    padding: 1rem;
}

.shop-body {
    background-color: var(--secondary-color);
}

body {
    background: var(--bestiary-background-gradient);
    color: var(--white);
}


main {
    display: flex;
    flex-direction: column;
}

footer {
    background-color: var(--black);
    color: var(--accent-color);
    text-align: center;
    padding: 1rem;
    position: relative;
    bottom: 0;
}

.secondary-title {
  font-size: 4rem;
  font-weight: 700;
  color: var(--white);
}

.tertiary-title {
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 4.5rem;
  color: var(--white);
}

.article-text {
    font-size: 1.5rem;
    line-height: 2.5rem;
    color: var(--white);
    text-align: justify;
}




