* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.max-width {
    max-width: 90%;
    margin: 0 auto;
    padding: 1rem;
}

body {
    font-family: Arial, sans-serif;
    background-color: #242222;
    color: #333;
}

header {
    background-color: #f0f0f0;
    color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    max-width: 100%;
    position: sticky;
    top: 0;
    border-end-start-radius: 0.5vh;
    border-end-end-radius: 0.5vh;
}


header h1:hover {
    cursor: default;
}

header ul {
    list-style: none;
    display: flex;
    gap: 1rem;
}

header a {
    text-decoration: none;
    color: #333;
}

header a:hover {
    color: #a4d5ff;
    text-decoration: underline;
    transition: 0.2s ease;
}

main .section-about {
    margin: 0;
    max-width: 100%;
    background-color: #242222;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

main .section-about h2 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

main .section-about p {
    font-size: 1.2rem;
    padding: 0 1rem;
}

main .article-container {
    gap: 2rem;
    display: flex;
    flex-direction: column;

}

main .article-container .article-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin: 0;
    padding: 1rem 0;
    background-color: #fff;
    border-radius: 2vh;
    gap: 1rem;
}

main .article-container .article-item .article-img-container {
    max-width: 100%;
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

main .article-container .article-item .article-img-container .article-img {
    width: 70%;
    height: auto;
    border-radius: 2vh;
    margin: 0;
}

main .article-container .article-item p{
    text-align: center;
    max-width: 100%;
}

aside.sidebar{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #fff;
}

aside.sidebar ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

aside.sidebar li {
    margin: 0 1vh;
}

aside.sidebar li a {
    text-decoration: none;
    color: #fff;
}

aside.sidebar li a:hover {
    color: #a4d5ff;
    text-decoration: underline;
    transition: 0.2s ease;
}

footer {
    background-color: #242222;
    color: #fff;
    text-align: center;
    padding: 1rem;
    position: relative;
    bottom: 0;
}

@media (max-width: 660px) {
    header {
        flex-direction: column;
        align-items: center;
    }

    section.section-about {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

   section.section-about h2, section.section-about p {
       text-align: center;
   }

   section.section-about p {
        font-size: medium;
   }


}