:root {
  --white: #e8e8e8;
  --gray: #3f3f3f;
  --black: #0b0b0b;

  
  /* Cores principais */
  --primary-color: #5e2d2d; 
  --secondary-color: #2b3a42;
  --accent-color: #c4a46b; 

  /* Tons adicionais */
  --deep-red: #732626; 
  --blood-red: #8b0000;
  --dark-blue: #1a2a3a; 
  --steel-gray: #5c5c5c; 
  --shadow-black: #0a0a0a; 
  --golden-glow: #a57d4a; 
  --fog-white: #d1cfcf; 
  --witcher-green: #3a5743; 
  
  --hover-color: #732626; 

  /* Bestiario */
    --bestiary-white: #ffffff;
  --bestiary-gray: #232430;
  --bestiary-black: #0f0f0f;
  --bestiary-background-color: #f9fafe;
  --bestiary-primary-color: #23356d;
  --bestiary-secondary-color: #4058a3;
  --bestiary-dark-secondary-color: #1a264d;
  --bestiary-tertiary-color: #9eb8ff;
  --bestiary-light-tertiary-color: #f4f6fb;
  --bestiary-text-color: #2a2a2a;
  --bestiary-hover-color: #31488c;

  --font-family: 'Merriweather', serif; 
}

