header.shop-header {
    background: var(--witcher-green);
    border-bottom: #fff 1px solid;
    color: #fff;
    padding:  3vh 2vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-end-start-radius: 0.5vh;
    border-end-end-radius: 0.5vh;
}

header.shop-header .categories ul {
    list-style: none;
    display: flex;
    gap: 5vh;
    margin-right: 2vh;	
}

header.shop-header .categories ul a {
    text-decoration: none;
    color: #fff;
}

header.shop-header .categories ul a:hover {
    color: var(--golden-glow);
    transition: 0.2s ease;
}

header.shop-header h1 {
    padding: 2vh;
    color: #fff;
}