  .section-about {
    margin: 0;
    padding-left: 12vh;
    max-width: 100%;
    display: flex;
    align-items: center;
    margin-top: 2vh;
}

  .section-about h2 {
    margin-bottom: 0.5rem;
}

  .section-about p {
    font-size: 1.5rem;
    padding: 0 1rem;
}

@media screen and (max-width: 768px) {
      .section-about {
        flex-direction: column;
        padding: 12vh;
    }

      .section-about h2 {
        font-size: 2rem;
        margin-bottom: 1rem;
        text-align: center;
    }

      .section-about p {
        font-size: 1.5rem;
        padding: 0;
        text-align: center;
    }

}