main .article-container {
    gap: 2rem;
    display: flex;
    flex-direction: column;
    max-width: 70%;
    margin: 0;
}

main .article-container .article-item {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding-left: 20vh;
    gap: 2rem;
}

main .article-container .article-item-reverse {
    flex-direction: column-reverse;
    margin: 0;
}

main .article-container .article-item .article-img-container {
    max-width: 100%;
    height: auto;
}

main .article-container .article-img-container img{
    width: 95vh;
    height: auto;
    border-radius: 1.5vh;
}

@media screen and (max-width: 768px) {

    main .article-container .article-img-container img{
        width: 50vh;
        height: auto;
        border-radius: 1.5vh;
    }
}
   