header {
    background-color: #f0f0f0;
    color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    max-width: 100%;
    position: sticky;
    top: 0;
    border-end-start-radius: 0.5vh;
    border-end-end-radius: 0.5vh;
}

header h1:hover {
    cursor: default;
}

header ul {
    list-style: none;
    display: flex;
    gap: 1rem;
}

header a {
    text-decoration: none;
    color: #333;
}

header a:hover {
    color: #a4d5ff;
    transition: 0.2s ease;
}