header.header__home {
    background-color: transparent;
    color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6vh 2vw 0 9vw; 
    max-width: 100%;
}

header.header__home h1 {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--white);
    text-decoration: none;
}

header.header__home h1:hover {
    cursor: default;
}

header.header__home ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    margin-right: 12vh;
}

header.header__home a {
    text-decoration: none;
    color: var(--white);
    font-size: 1.2rem;
    font-weight: bold;
}

header.header__home a:hover {
    color: var(--hover-color);
    transition: 0.2s ease;
}

@media (max-width: 768px) {
    header.header__home {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 4vh 5vw;
        border-bottom: 1px solid var(--white);
    }

    header.header__home ul {
        flex-direction: column;
        gap: 0.5rem;
        margin: 1rem 0 0 0;
    }

    header.header__home a {
        font-size: 1rem;
    }


}

