aside.sidebar {
    position: fixed;
    right: 12vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 70vh;
    margin-top: 12vh;
    border-radius: 1.5vh;
}


aside.sidebar ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 2rem;
    color: var(--white);
}

aside.sidebar li a {
    text-decoration: none;
    color: var(--white)
}

aside.sidebar li a:hover {
    color: var(--blood-red);
    text-decoration: underline;
    transition: 0.3s ease;
}

@media screen and (max-width: 1022px) {
    aside.sidebar {
        position: static;
        width: 100%;
    }

    aside.sidebar h3 {
        font-size: 2rem;
    }
    
}

@media screen and (max-width: 1480px) {
    aside.sidebar {
        max-width: 30%;
        right: 0;
    }

}
